body {

}

.bgGreen {
    background-color: #7fd8be;
}

.bgLightGreen {
    background-color: #a1fcdf;
}

.bgOrange {
    background-color: #fcab64;
}

.bgLightOrange {
    background-color: #fcd29f;
}

.colorGreen {
    color: #7fd8be;
}

.colorLightGreen {
    color: #a1fcdf;
}

.colorOrange {
    color: #fcab64;
}

.colorLightOrange {
    color: #fcd29f;
}

.colorWhite {
    color: white;
}

.minTitleHeight {
    min-height: 50px;
}

.minColTitleHeight {
    min-height: 30px;
}

.minColHeight {
    min-height: 350px;
}

.fontSize-20px {
    font-size: 35px;
}

.wrapper{
    cursor: default;
}

.wrapper h3 {
    padding-top: 45px;
    padding-bottom: 30px;
}










